/* Places Stylesheet */

.places {
    text-align: center;
    color: #000;
}

.places h1 {
    font-size: 30px;
}

article {
    display: inline-block;
    height: 40px;
    width: 390px;
    margin: 20px;
    padding: 0 10px 15px 0;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    cursor: pointer;
}
